@import url("https://fonts.googleapis.com/css2?family=Lalezar&display=swap");
body {
  background-color: #36393f;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: "Lalezar", sans-serif;
  color: white;
}
.card {
  margin: 5px;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 20px;
  background-color: #42454d;
  transition: 0.3s;
}
.card:hover {
  background-color: #4d5059;
}
.text-content {
  font-size: 30px;
}
.cover {
  box-shadow: whitesmoke;
  height: 100%;
  background: linear-gradient(180deg, #4b578e 50%, #42454d 50%);
}
.center {
  text-align: center;
}
.error {
  color: red;
  display: bold;
}
.pfp {
  border-radius: 50%;
  margin: 20px;
  border-style: solid;
  border-width: 5px;
}

.username {
  position: relative;
  bottom: 190px;
  font-size: 40px;
  color: white;
  right: -20px;
}
.description {
  position: relative;
  bottom: 80px;
  font-size: 30px;
  color: white;
  text-align: center;
  right: 40px;
}
.pfp-offline {
  border-color: #747f8d;
}
.pfp-online {
  border-color: #3ba55d;
}
.pfp-dnd {
  border-color: #ed4245;
}
.pfp-idle {
  border-color: #faa81a;
}
.status-chip {
  border-radius: 50%;
  display: inline-block;
  height: 20px;
  width: 20px;
}
.chip-offline {
  background-color: #747f8d;
}
.chip-online {
  background-color: #3ba55d;
}
.chip-dnd {
  background-color: #ed4245;
}
.chip-idle {
  background-color: #faa81a;
}
.title {
  font-size: 50px;
}
.socials {
  text-align: center;
}
.social {
  margin: 8px;
  transition: 0.3s;
}
#discord:hover {
  fill: #5865f2;
  transition: 0.3s;
}
#youtube:hover {
  fill: #ff0000;
  transition: 0.3s;
}
#github:hover {
  fill: #6e5494;
  transition: 0.3s;
}